src/*.o
src/*.lst
src/*.mod
src/MT*
src/bl_ysu.org.f90
*.ksh
run*
.d*
etc/gfs.tauchk
etc/namlsts_tco383
etc/namlsts_tco383_*
*.o*
*.stats
wrk_sample
src/depend
work_*
build_*
src/libtco.a
job/*.log
.*.swp
exp*
fix
